<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let pro of products">
            <div class="card my-2">
                <a routerLink="/product/{{pro.id}}">
                    <img class="card-img-top" src="{{pro.img}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{pro.name}}</h4>
                        <p class="card-text">{{pro.desc}}</p>
                        <p class="card-text">{{pro.price}}</p>
                    </div>
                </a>
                <div class="d-flex  justify-content-between">

                    <button class="btn btn-success" (click)="addToCard(pro.id)">+</button>
                    <span class="text-white">{{productGroups[pro.id]}}</span>
                    <button class="btn btn-danger" (click)="removeFromCard(pro.id)">-</button>
                </div>
            </div>
        </div>
    </div>

</div>